/* INDEX */
:root {
    --main-font: font-family: 'Montserrat', sans-serif;
    --secondary-font: font-family: 'Roboto', sans-serif;
    --main-color:#2196F3; 
}

.body {
    font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
    padding:0;
}

ul,
ol {
    margin:0;
    padding:0;
}

p {
    padding:0px;
    margin:0px;
}

img {
    display:block;
}

link {
    padding:0;
}

.container {
    width:1200px;
    margin:0 auto;
    align-items:center;
    padding:0;
}
.section {
    padding-top:94px;
    padding-bottom:94px;
}
/* COMPONENTS */ 
.header {
    border: 1px solid #ECECEC;
}

.secondary-header {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom:50px;
}

.list {
    list-style-type: none;
}
/* END COMPONENTS */ 

/* HEADER */ 

.navigation-logo {
    padding-right:93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.navigation-list {
    display:flex;
    align-items: center;
}

.navigation-list-item {
    padding-right:36px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.link-mail{
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left:371px;
}

.link-tel {
    padding-left:50px;
}
.header .container {
    display:flex;
    align-items: center;
}

.navigation {
    display:flex;
}

.list {
     list-style: none;
}

.link {
    text-decoration: none;
}


.navigation-list-link, 
.address-link {
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link:hover,
.address-link:focus,
.address-list-address:hover,
.address-list-address:focus,
.address-list-item:hover,
.address-list-item:focus {
    color:var(--main-color)
}

.address-link {
    color: #757575;
}
.navigation-list {
list-style-type: none;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* END HEADER */ 

/* HERO */ 
.hero {
    background-color: #2F303A;
}
.container .hero{
    display:flex;
    align-items: center;
}
.main-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.hero {
    align-items: center;
    display:flex;
    text-align: center;
    flex-direction: column;
    padding-top:200px;
    padding-bottom: 200px;
}

.modal-btn {
    width: 200px;
    height: 50px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
}

.main-header {
    width:696px;
}
/* END HERO */ 

/* ABOUT */ 
.activity .activity-list {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-description .about-description-list {
    display:flex;
    width: 1200px;
    flex-direction:row-reverse;
}
.about-description {
    padding-bottom:94px;
}
.about-description-list-item {
    padding-right:30px;
}

.ab-dc-list-item-text,
.ab-dc-list-item-title {
 font-family: Roboto;
 font-size: 14px;
  letter-spacing: 0.03em;
}
.ab-dc-list-item-title {
    font-weight: bold;
    line-height: 1.143;
    text-transform: uppercase;
    color: #212121
}

.ab-dc-list-item-text {
    line-height: 1.714;
    color: #757575;
}
/* END ABOUT */ 

/* ACTIVITY */ 
/* END ACTIVITY */ 

/* TEAM */ 
.team-list {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
}
.item {
    width:270px;
    height: 368px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team {
    background-color: #F5F4FA;
}

.worker-name,
.work-position {
font-family: Roboto;
font-size: 16px;
line-height: 1.188;
text-align: center;
letter-spacing: 0.03em;
}

.worker-name {
font-weight: 500;
color: #212121;
padding-top:30px;
padding-bottom:10px;
}

.work-position {
color: #757575;
padding-top:0;
padding-bottom:30px;
}
/* END TEAM */ 

/* FOOTER */ 
.footer {
    background-color:#2F303A;
}

.address-list-address,
.address-list-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-list-address {
    color: #FFFFFF;
}

.address-list-item {
color: rgba(255, 255, 255, 0.6);
}
/* END FOOTER */ 

/* ========= PORTFOLIO ========== */

/* MENU */
.navigation-list-link-portfolio {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
     color:var(--main-color)
}
/* END MENU*/

/* HERO */
.btn-portfolio,
.btn-portfolio2,
.btn-portfolio3,
.btn-portfolio4,
.btn-portfolio5
 {
    width: 121px;
    height: 38px;
    background-color: #F5F4FA;
    color: #212121
    
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    border: 0px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700; 
    line-height: 1.625;
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio2:hover,
.btn-portfolio2:focus,
.btn-portfolio3:hover,
.btn-portfolio3:focus,
.btn-portfolio4:hover,
.btn-portfolio4:focus,
.btn-portfolio5:hover,
.btn-portfolio5:focus {
    background-color:#2196F3;
    color:#FFFFFF;
}
.btn-portfolio2 {
width: 93px;
height: 38px;
}
.btn-portfolio3 {
width: 114px;
height: 38px;
}
.btn-portfolio4 {
width: 91px;
height: 38px;
}

.btn-portfolio5 {
width: 121px;
height: 38px;
}

/* END HERO */

/* ALL */
.all-item {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.all-item-category {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

.logo {
    padding-bottom: 20px;
    padding-top:60px;
    width:145px;
   
}

.address-list {
    padding-bottom: 60px;
}

.address-footer {
padding-bottom:9px;
}

.footer {
    background-color: #2F303A;
}

.footer .container {
    display:block;
    align-items: center;
}

.portfolio {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top:94px;
    padding-bottom:50px;
}

.buttons {
    padding-right: 8px;
}

.all-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom:94px;
}

.wrap {
    flex-wrap:wrap;
}

.itm {
    margin-left: 30px;
    margin-top: 30px;
    height:404px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.all-item {
    padding-left:24px;
    padding-top:20px;

}

.all-item-category {
    padding-left:24px;
    padding-bottom:20px;
}